---
interface Props {
	workExperience: {
		name:string
		time: {
			start: string
			end: string
		}
		projects: Array<{
			name: string
			desc: string
		}>
	}
}

const { workExperience } = Astro.props;
---
<li class="mb-4">
	<h2 class="text-3xl font-medium text-gray-800">{workExperience.name}</h2>
	<div>
	  <i class="bx bx-calendar text-sm" style="color: #666"></i>
	  <small class="text-sm text-gray-600">{workExperience.time.start} - {workExperience.time.end}</small>
	</div>
	{
		workExperience.projects.map(project => {
			return (
				<div class="mt-1">
				<div>
					<h3 class="text-2xl font-medium text-gray-800">{project.name}</h3>
					<p>{project.desc}</p>
				</div>
				</div>
			)  	
		})
	}
  </li>
<style>
</style>
